In [1]:
import sqlite3

A lightweight, serverless, self-contained SQL database engine.

Stores the entire database in a single file on disk (.db or .sqlite).

Very popular for small to medium applications, testing, prototyping, or embedded systems.

In [2]:
conn = sqlite3.connect("mysql.db")

SQL sever:
multiple Database
each we can 
create multiple Table 

each table
columns name 
row

In [3]:
cusor = conn.cursor()

In [4]:
cusor.execute(""" 

    CREATE TABLE student(
       st_id INTEGER, 
       st_name TEXT, 
       st_marks DECIMAL, 
       st_subjects TEXT
    
    )
""")

In [5]:
cusor.execute("select  name from sqlite_master where type='table';")

sqlite_master is a special table that stores metadata about the database schema.

In [6]:
cusor.fetchall()

[('student',)]

In [7]:
stud_data = [(1, "ali", 45, "chem"), (3, "ahmed", 56, "phy"), (5, "basit", 78, "math")]

In [16]:
stud_data

[(1, 'ali', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [9]:
cusor.executemany("INSERT INTO student (st_id,st_name, st_marks, st_subjects) VALUES (?, ? , ? ,?)", stud_data)

? placeholders: these are parameters that will be replaced by values from stud_data.

stud_data: should be a list of tuples (or other iterable) containing the actual values.

In [18]:
cusor.execute("select * from student").fetchall()

[(1, 'irfan', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [20]:
cusor.execute("select * from student where st_marks > 53")

In [21]:
cusor.fetchall()

[(3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [22]:
cusor.execute("select COUNT(*), AVG(st_marks) from student").fetchone()

(3, 59.666666666666664)

COUNT(*) â†’ counts how many rows are in the student table.

In [23]:
cusor.execute("UPDATE student set st_name='irfan' where st_id=1")

In [24]:
cusor.execute(" select * from student").fetchall()

[(1, 'irfan', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]