# Workflow for SQL Query

1. Import packages and functions
2. Create the database engine
3. Connect to the ENGINE
4. Query the databse
5. Save Query Result to a Dataframe
6. Close the conection

In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("tutorial.db")  #connection to the on-disk database

In [24]:
cur = con.cursor()  #to access sql query

In [32]:
# import sqlite3
# conn = sqlite3.connect("mydb.sqlite", isolation_level=None)  
# cur = conn.cursor()

# cur.execute("DROP TABLE IF EXISTS movie")

In [33]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [34]:
r = cur.execute("SELECT name from sqlite_master")

In [35]:
r.fetchone()

('movie',)

In [36]:
r = cur.execute("SELECT name FROM sqlite_master WHERE name = 'spam' ")
r.fetchone()

In [37]:
r= cur.execute("""
            INSERT INTO movie VALUES
            ('Sex on the beach' , 1986, 6.7),
            ('Ball Gazer', 1987, 9.5)
""")

In [38]:

r = cur.execute("SELECT score FROM movie")

In [39]:
r.fetchall()

[(6.7,), (9.5,)]

In [41]:
data = [ 
        ("Titanic" , 1986, 9.0),
        ("Banabara", 1978, 8.5),
        ("Japan in Surrey", 1944, 7.6)
    
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data) #many cos of many variables involvce

In [45]:
for row in cur.execute("SELECT year, title from movie order by year"):
    print ([row])

[(1944, 'Japan in Surrey')]
[(1978, 'Banabara')]
[(1986, 'Sex on the beach')]
[(1986, 'Titanic')]
[(1987, 'Ball Gazer')]

In [47]:
con.commit # to close or save the transaction
con.close

# Another Example